<%- include('../partials/header') %>

<h1><%= title %></h1>

<a href="/destinations/sort"><%= flight.destinations.length > 1 ? 'Sort by arrival time' : '' %></a>

<hr>

<p>Airport: <%= flight.airport %></p>
<p>Airline: <%= flight.airline %></p>
<p>Flight No.: <%= flight.flightNo %></p>
<p>Departure: <%= flight.departs.toUTCString() %></p>



<div class="destinations">
    <h3>Destinations</h3>
    <% flight.destinations.forEach(function(dest) { %> 
        <hr>
        <p>Destination: <%= dest.airport %></p>
        <p>Arrival: <%= dest.arrival.toUTCString() %></p>
    <% }); %>
</div>


<div>
    <h3>Tickets</h3>
    <% if(tickets.length) { %>
        <% tickets.forEach(function(ticket) { %>
            <p>Seat: <%= ticket.seat %></p>
            <p>Price: <%= ticket.price %></p>
        <% }); %>
    <% } else { %>
        <p class="no-info">No tickets yet</p>
    <% } %>
    <a href='/flights/<%= flight._id %>/tickets/new'>Add a New Ticket</a>
</div>




<form action="/flights/<%= flight._id %>/destinations" method="POST"> 
    <div>
        <h2> Add a Destination </h2>
        <div class="input">
            <label for="airport">Airport</label>
            <select name="airport">
                <option value="SEA">SEA</option>
                <option value="AUS">AUS</option>
                <option value="DAL">DAL</option>
                <option value="LAX">LAX</option>
            </select>
        </div>
        <div class="input">
            <label for="arrival">Arrival</label>
            <input type="datetime-local" name="arrival" id="arrival">
        </div>
        <button id="save" type="submit">Save Destination</button>
    </div>
</form>




<%- include('../partials/footer') %>