<%- include('../partials/header') %>
<h1><%= title %></h1>
<p>In order of departure</p>

<a href="/flights">Sort by creation date</a>


<% flights.forEach(function(flight) { %> 
    <hr>
    <p>Airline: <%= flight.airline %></p>
    <p>Flight No.: <%= flight.flightNo %></p>
    <p>Departure: <%= flight.departs %></p>
    <a href="/flights/show">Details</a>
<% }); %>


<%- include('../partials/form') %>
<%- include('../partials/footer') %>