<%- include('../partials/header') %>
<h1><%= title %></h1>
<p>In order of departure</p>

<a href="/flights">Sort by creation date</a>


<% flights.forEach(function(flight) { %> 
    <div class="flight">
        <hr>
        <p>Airline: <%= flight.airline %></p>
        <p>Flight No.: <%= flight.flightNo %></p>
        <p>Departure: <%= flight.departs.toUTCString() %></p>
        <a class="details" href="/flights/<%= flight._id %>">Details</a>
    </div>
 <% }); %>


<%- include('../partials/form') %>
<%- include('../partials/footer') %>